<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            background-color: #fff;
            width: 90%;
            max-width: 500px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        h2 {
            color: #007BFF;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
        }
        .footer {
            margin-top: 20px;
            font-size: 14px;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Hola {{ nombre }} {{ apellido }}, ¡bienvenido(a) al sistema! 🎉</h2>
        <p>Estamos felices de tenerte en nuestro equipo.</p>
        <p>Si tienes dudas, no dudes en contactarnos.</p>
        <p class="footer">© 2025 Dev Roberto Cerquera.Todos los derechos reservados</p>
    </div>
</body>
</html>
